@import 'variables';

#__nuxt {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: var(--background);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  @include mq-large {
    max-width: 960px;
  }
  @include mq-medium {
    max-width: 720px;
  }
  @include mq-small {
    width: calc(100% - 80px);
    padding: 0 40px;
  }
  @include mq-very-small {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
}

// Element UI
.el-textarea {
  textarea {
    font-family: 'Roboto', sans-serif;
  }
}

.el-message-box {
  font-family: 'Roboto', sans-serif;

  @include mq-very-small {
    width: 100% !important;
  }
}

.el-dialog {
  @include mq-very-small {
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 100%;
    overflow: auto;
  }
}

// Global Page Transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
